<h1>My Blog</h1>

    <% @articles.each do |article| %>
        <h2><%= article.title %></h2>
        <p><%= article.content %></p>
			<% article.comments.each do |comment| %>
        <p>
						<%= comment.comment %> <br/>
					<b>by :<%= comment.name %></b>
			</p>
			<% end %>

		<h2>Add a comment:</h2>
		<%= form_for([article, article.comments.build]) do |f| %>
			<p>
				<%= f.label :name %><br>
				<%= f.text_field :name %>
			</p>
			<p>
				<%= f.label :comment %><br>
				<%= f.text_area :comment %>
			</p>
			<p>
				<%= f.submit %>
			</p>
		<% end %>



<% end %>

